In [1]:
import pandas as pd

# reading conv.txt file by setting colon ":" as delimiter ,header as none and creating attribute names as character and dialogues

In [2]:
df = pd.read_csv("conv.txt",delimiter = ':',header=None,names=["Character", "dialogues"])
df.head()

      Character                                          dialogues
0          WILL   I’ve never seen wildlings do a thing like thi...
1  WAYMAR ROYCE                             How close did you get?
2          WILL                            Close as any man would.
3         GARED                   We should head back to the wall.
4         ROYCE                          Do the dead frighten you?

# 1. Number of unique characters

In [3]:
number_of_unique_characters=df.Character.unique()
#number of unique character
print("Number of unique character are:",len(number_of_unique_characters))
print("They are:",number_of_unique_characters)

Number of unique character are: 17
They are: ['WILL' 'WAYMAR ROYCE' 'GARED' 'ROYCE' 'JON' 'SEPTA MORDANE' 'SANSA' 'NED'
 'ROBB' 'CASSEL' 'CATELYN' 'BRAN' 'THEON' 'CERSEI' 'JAIME' 'ROBERT' 'ARYA']

# 2.Creating a new text file for each of the characters with their name and store the unique words

In [4]:
df = pd.read_csv("conv.txt",delimiter = ':',header=None,names=["Character", "dialogues"])
df.head()

      Character                                          dialogues
0          WILL   I’ve never seen wildlings do a thing like thi...
1  WAYMAR ROYCE                             How close did you get?
2          WILL                            Close as any man would.
3         GARED                   We should head back to the wall.
4         ROYCE                          Do the dead frighten you?

In [5]:
df1 = df[df.Character=='WILL']
df1

   Character                                          dialogues
0       WILL   I’ve never seen wildlings do a thing like thi...
2       WILL                            Close as any man would.
7       WILL   Whatever did it to them could do it to us. Th...
10      WILL                                    They were here.

In [6]:
def func(df):
    characters = df.Character.unique()
    a = {}
    for i in range(len(characters)):
        df1 = df[df['Character']==characters[i]]
        a[characters[i]] = list(set((df1['dialogues'].sum()).split(' ')))
    return a

In [7]:
c=func(df)

In [8]:
def file_create(c):
    for key,values in c.items():
        f = open(f"{key}.txt", "w")
        for i in values:
            f.write(i)
            f.write('\n')
        f.close()

In [9]:

file_create(c)

In [10]:
pwd

'C:\\Users\\kwali\\2. PROJECT'